body{
    background-color: #EEEEEE;
}
#name{
    color: black;
    text-align: center;
}
.picture{
    display: inline-block;
    margin-left: 43%;
}

html{
    font-family: 'Times New Roman', Times, serif;
}