body{
    background-color: white;
}
#name{
    color: black;
    text-align: center;
}
.box{
    display: flex;
    align-items: center; 
    justify-content: center;
}

html{
    font-family: 'Times New Roman', Times, serif;
}